<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel</title>
    <!-- CSS -->
    <link rel="stylesheet" href="style.css" />
    <!-- GOOGLE FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <section class="top-container">
        <!-- NAVBAR -->
        <nav class="top-nav">
          <img src="./img/logo.jpg" alt="" />
          <div class="top-menu">
            <a href="#" class="top-menu-link">FAQS</a>
            <a href="#" class="top-menu-link">ABOUT US</a>
            <a href="#footer" class="top-menu-link contact">CONTACT</a>
            <a href="#" class="top-menu-link">USD</a>
          </div>
        </nav>
        <!-- BANNER -->
        <div class="banner">
          <div class="flyes">
            <table style="width:100%" class="fly-table">
              <tr>
                <th>From</th>
                <th>To</th> 
                <th>Departure</th>
                <th>Return</th>
              </tr>
            </table>
            <button class="close">CLOSE</button>
          </div>
          <div class="banner-menu">
            <a href="#" class="banner-menu-link home">HOME</a>
            <a href="#" class="banner-menu-link flights">FLIGHTS</a>
            <a href="#" class="banner-menu-link">HOTELS</a>
            <a href="#" class="banner-menu-link">HOLIDAYS</a>
            <a href="#blogs" class="banner-menu-link blog-path">BLOG</a>
          </div>
          <!-- BANNER CARD -->
          <div class="banner-card">
            <div class="banner-card-top-btns">
              <a href="#" class="domestic-btn">Domestic</a>
              <a href="#" class="international-btn">International</a>
            </div>
            <div class="banner-card-inputs">
              <div class="card-input-container">
                <label for="">FROM</label>
                <input
                  type="text"
                  name="from"
                  class="card-data"
                  id=""
                  placeholder="Paris, France"
                />
              </div>
              <div class="card-input-container">
                <label for="">TO</label>
                <input
                  type="text"
                  name="to"
                  class="card-data"
                  id=""
                  placeholder="New-York, United State"
                />
              </div>
              <div class="card-input-container">
                <label for="">DEPARTURE</label>
                <input
                  type="text" name="departure"
                  class="card-data"
                  id="card-data-select"
                  placeholder="01.08.2011"
                  onfocus="(this.type='date')"
                >
            </select>
              </div>
              <div class="card-input-container">
                <label for="">RETURN</label>
                <input
                  type="text" name="return"
                  class="card-data"
                  id="card-data-select"
                  placeholder="23.09.2013"
                  onfocus="(this.type='date')"
                >
        </select>
              </div>
              <div class="card-input-container">
                <label for="">ADULTS</label>
                <select name="adults" class="card-data" id="card-data-select">
                  <option value="">1 adult</option>
                  <option value="">2 adults</option>
                  <option value="">more than 2 adults</option>
                </select>
              </div>
              <div class="card-input-container">
                <label for="">CHILDREN</label>
                <select name="children" class="card-data" id="card-data-select">
                  <option value="">No children</option>
                  <option value="">1 child</option>
                  <option value="">more than 1 child</option>
                </select>
              </div>
            </div>
            <!-- <a href='#' class="banner-card-bottom-btn">SEARCH FLIGHTS</a> -->
            <button class="banner-card-bottom-btn">SEARCH FLIGHTS</button>
          </div>
          <!-- BANNER FEATURES -->
          <div class="banner-features">
            <div class="banner-feature">
            <i class="fas fa-plane-departure"></i>
            <small>Easy & Cheap</small>
            <p>SEARCH FLOGHTS</p>
            </div>
            <div class="banner-feature">
            <i class="fas fa-key"></i>
            <small>Over 15000+ Places</small>
            <p>GET HOTEL DEALS</p>
            </div>
            <div class="banner-feature">
            <i class="fas fa-gift"></i>
            <small>Explore Destinations</small>
            <p>HOLIDAY PACKAGES</p>
            </div>
            <div class="banner-feature">
            <i class="fas fa-headphones-alt"></i>
            <small>24x7 Dedicated Helpline</small>
            <p>1800 105 25 41</p>
            </div>
          </div>
        </div>
      </section>
      <!-- PHOTO SECTION -->
      <section class="photo-section">
        <h1 class="title">TAILOR MADE PACKAGES FOR YOU</h1>
        <small>What are you in the Mood for?</small>
        <div class="photos">
        <div class="photo">
          <img src="./img/Adsız tasarım(one).png" alt="">
          <button>Forest Activities</button>
        </div>
        <div class="photo">
          <img src="./img/Adsız tasarım(two).png" alt="">
          <button>Snow Activities</button>
        </div>
        <div class="photo">
          <img src="./img/Adsız tasarım(three).png" alt="">
          <button>Camp Activities</button>
        </div>
        <div class="photo">
          <img src="./img/Adsız tasarım(four).png" alt="">
          <button>Hiking Activities</button>
        </div>
        <div class="photo">
          <img src="./img/Adsız tasarım(five).png" alt="">
          <button>Polar Lights</button>
        </div>
        <div class="photo">
          <img src="./img/Adsız tasarım(six).png" alt="">
          <button>Nature Activities</button>
        </div>
        <div class="photo">
          <img src="./img/Adsız tasarım(seven).png" alt="">
          <button>Adventure Activities</button>
        </div>
        <div class="photo">
          <img src="./img/Adsız tasarım(eight).png" alt="">
          <button>Beach Activities</button>
        </div>
        </div>
      </section>
      <!-- MAP -->
      <section class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0822271173233!2d-75.56612192176186!3d6.252896388404764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428f98e51c48f%3A0xb22a056b3235080d!2sParque%20Bol%C3%ADvar!5e0!3m2!1str!2s!4v1583667190027!5m2!1str!2s"
          width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </section>
      <!-- POPULAR DESTINATIONS -->
      <section class="popular-destinations">
        <h1 class="title">POPULAR DESTINATIONS</h1>
        <div class="destinations">
          <div class="destination">
            <h4>7 Nights/8 Days Europe</h4>
            <small>$599 onwards</small>
          </div>
          <div class="destination">
            <h4>4 Nights/5 Days Thailand</h4>
            <small>$399 onwards</small>
          </div>
          <div class="destination">
            <h4>11 Nights/12 Days America</h4>
            <small>$1200 onwards</small>
          </div>
          <div class="destination">
            <h4>17 Nights/15 Days New Zelland</h4>
            <small>$1999 onwards</small>
          </div>
        </div>
      </section>
      <!-- BROWSE BUTTON -->
      <section class="browse-btn">
        <h4>Can't find your Favorite Package?</h4>
        <button>Browse Packages</button>
      </section>
      <section class="latest-blog" id="blogs">
        <h1 class="title">LATEST FROM OUR BLOG</h1>
        <small>Stay in Touch with the Latest Travel & Destination News</small>
        <!-- LATEST BLOGS -->
        <div class="blogs">
          <div class="blog">
          <img src="./img/bangkok.png" alt="">
          <div class="comments">
            <small>Sightseeing</small>
            <h3>Thing to do in Bangkok for Free</h3>
            <div class="time">
            <small>
              <i class="far fa-calendar-alt"></i>
              16 February</small>
            <small>
            <i class="far fa-comments"></i>  22
            </small>
            </div>
            <br>
            <a href="#">Read More</a>
            </div>
          </div>
          <div class="blog">
          <img src="./img/nightClub.png" alt="">
          <div class="comments">
            <small>Nightlife</small>
            <h3>Nightclubs to check out in Kuala Numpur</h3>
            <div class="time">
            <small>
              <i class="far fa-calendar-alt"></i>
              16 February</small>
            <small>
            <i class="far fa-comments"></i>  22
            </small>
            </div>
            <br>
            <a href="#">Read More</a>
            </div>
          </div>
          <div class="blog">
          <img src="./img/hotelss.png" alt="">
          <div class="comments">
            <small>Hotels</small>
            <h3>Prague hotels for every kind of traveller</h3>
            <div class="time">
            <small>
              <i class="far fa-calendar-alt"></i>
              16 February</small>
            <small>
            <i class="far fa-comments"></i>  22
            </small>
            </div>
            <br>
            <a href="#">Read More</a>
            </div>
          </div>
          <div class="blog">
          <img src="./img/restoursnt.png" alt="">
          <div class="comments">
            <small>Eating Out</small>
            <h3>Shanghai restaurant for the discerning diner</h3>
            <div class="time">
            <small>
              <i class="far fa-calendar-alt"></i>
              16 February</small>
            <small>
            <i class="far fa-comments"></i>  22
            </small>
            </div>
            <br>
            <a href="#">Read More</a>
            </div>
          </div>
        </div>
      </section>
      <!-- PLANS -->
      <section class="plans">
        <h1 class="title">START MAKING YOUR TRAVEL PLANS</h1>
        <small>Create a Custom Plan based on your Taste</small>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint necessitatibus ipsa deleniti explicabo ipsum accusantium nemo sed, soluta consectetur distinctio minus nisi ea expedita autem blanditiis facere tempora voluptas saepe rem, recusandae temporibus! Quae rerum, nisi ducimus error facilis quasi voluptatibus explicabo hic eaque consequuntur tenetur id delectus amet!</p>
        <button>CREATE A PACKAGE</button>
      </section>
      <!-- FOOTER -->
      <footer id="footer">
        <div class="footer-content">
          <div class="top-footer">
            <div class="top-footer-first">
              <h3>CALL US:</h3>
              <h5>(91)22 8413892</h5>
              <h3>SEND AN ENQUIRY</h3>
              <h5>travel@canvas.com</h5>
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-google-plus"></i>
              <i class="fab fa-linkedin-in"></i>
              <i class="fab fa-slack"></i>
            </div>
            <div class="top-footer-middle">
              <h3> FEATURES PACKAGES</h3>
              <h5>7 Nights/7 Days Europe</h5>
              <small>$599 onwards</small>
              <hr>
              <h5>4 Nights/5 Days Thailand</h5>
              <small>$399 onwards</small>
              <hr>
              <h5>14 Nights/15 Days America</h5>
              <small>$1299 onwards</small>
            </div>
            <div class="top-footer-last">
              <h3 class="des"> POPULAR DESTINATIONS</h3>
              <div class="top-footer-last-coutries">
                <div>
                  <h5>Thailand</h5>
                  <h5>Indonesia</h5>
                  <h5>Italy</h5>
                  <h5>Spain</h5>
                </div>
                <div>
                  <h5>India</h5>
                  <h5>France</h5>
                  <h5>Philippines</h5>
                  <h5>New Zelland</h5>
                </div>
              </div>
              <h3 class="off">Get Lates Offer & Coupons by Emails:</h3>
              <input type="email" name="email" id="" placeholder="Enter your Email">
              <button>Subscribe</button>
            </div>
          </div>
          <div class="bottom-footer">
            <p>Copyrights &copy; 2014 All Rights Reserved by Canvas Inc. </p>
            <p>Terms of Use/Privacy Policy</p> 
            <small>info@canvas.com</small>
            <small>+91-11-6541-6369</small>
            <small>CanvasOnSkype</small>
          </div>
        </div>
      </footer>
    </div>
    <!-- JQUERY -->
    <script src="jquery-3.4.1.min.js"></script>
    <!-- FONTAWESOME -->
    <script src="all.min.js"></script>
    <!-- SCRIPT JS -->
    <script src="script.js"></script>
  </body>
</html>
